:root {
    --primary-color: #82f7ff;
    --secondary-color: #2aff71;
    --tetriary-color: #003cff;

    --background-color: rgb(0, 15, 15);
    --background-color-light: rgb(0, 35, 35);
}

/* GENERAL */
html,
body {
    margin: 0px;
    background-color: var(--background-color);
    color: white;

    font-family: monospace;
}

p {
    font-size: 16px;
}

img {
    max-width: 100%;
}

h1 {
    padding-left: 6rem;
    margin: 6rem 0 -5rem 0;
    font-size: 1.8vw;
}

h1::after {
    display: block;
    width: 5%;
    height: 4px;
    content: '';
    background: var(--primary-color);
}

h2 {
    font-size: 1.5vw;
}


/* GENERAL END */

/* CATEGORIES */
div.ctg {
    margin: 6rem;
    display: flex;
}

div.ctg-inner {
    margin: 0;
    padding: 16px;
}

.lg { width: 66%; }

.md { width: 49%; }

.sm { width: 33%; }

.align-right {
    text-align: right;
}


/* Skill categories */
div.skill-ctg {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.ctg-inner.align-right .skill-ctg {
    justify-content: flex-end;
}

div.skill-item {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    margin: 10px;
    padding: 10px 20px;
    border-radius: 12px;
}

.skill-ctg.blue .skill-item {
    background-color: var(--primary-color);
}

.skill-ctg.green .skill-item {
    background-color: var(--tetriary-color);
}

/* Card categories*/
.ctg.ctg-card-group {
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.card {
    border-radius: 12px;
    background-color: var(--background-color-light);
}

.ctg-inner.card {
    width: 21%;
    margin: 1%;
    padding: 16px;
}

.card a {
    margin-right: 16px;

    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;

    transition-duration: 250ms;
}

.card a:hover {
    text-decoration:underline;
    font-weight: bold;
}

/* Learn more categories */
.learn-ctg {
    background-color: var(--background-color-light);
    padding: 4px;
}

div.social-ctg {
    display: inline-block;
}

.social-ctg img {
    margin: 0 12px;
    max-width: 5%;

    transition-duration: 250ms;
}

.social-ctg img:hover {
    max-width: 4.8%;
}

/* CATEGORIES END */

/* BUTTONS */
.btn {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    margin: 0 12px;
    padding: 18px 32px;
    border-radius: 12px;
}

.btn-view {
    background-image: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    color: white;
}

.btn-download {
    background-image: linear-gradient(45deg, #003cff, #00aeff);
    color: white;
}
/* BUTTONS END */

/* FORM */

form {
    margin: 0;
    padding: 0;
    width: 40%;
    text-align: center;
}

input {
    width: 40%;
    margin: 1px;
    display: inline-block;

    padding: 12px 20px;
    border-radius: 6px;
}

textarea {
    width: 90%;

    padding: 12px 20px;
    border-radius: 6px;
    resize: vertical;
    height: 100px;
}

/* FORM END*/

/* FOOTER*/

footer {
    padding: 40px;
    background-color: var(--background-color-light);

    text-align: center;
    font-size: 18px;
}

/* FOOTER END*/